$blue: #2196F3;
$black: #000000;
$grey: #2F303A;
$teal: #757575;

$blue: #2196F3;
$black: #000000;
$grey: #2F303A;
$teal: #757575;


.web {
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.16;
    font-size: 26px;
    color: $blue;
}

.studio {
    text-decoration: none;
    color: $black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.16;
    font-size: 26px;
}